@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0 auto;
}
/* common styles */
section {
  margin-top: 130px;
}
/* colors */
.dark01 {
  color: #131313;
}
.dark02 {
  color: #424242;
}
.dark03 {
  color: #727272;
}
.orange-color {
  color: orange;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

/* nav bar styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar h3 {
  font-size: 2.8rem;
  margin-top: 25px;
  margin-left: 20px;
}
.nav-bar a {
  text-decoration: none;
  margin-left: 50px;
}
.nav-bar ul {
  list-style-type: none;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}

/* banner styles */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content {
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 30px;
  margin-top: 40px;
}
.banner-description {
  margin-bottom: 25px;
}
.primary-btn {
  background-color: #ff900e;
  height: 4rem;
  width: 11rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 5px;
}
.banner-image img {
  width: 75vw;
}

/* team section */
.team {
  margin-top: 85px;
  margin-left: 30px;
  display: flex;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-right: 60px;
}
.team-img-container img {
  border-radius: 10px;
}
.team-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.team-features h2 {
  font-size: 40px;
}
/* facts section */
.main-facts p {
  margin-right: 60vw;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}
.some-facts {
  font-size: 40px;
  margin-left: 20px;
}
.fact-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.fact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 140px;
  width: 140px;
  border: 3px solid #ff900e;
  border-radius: 10px;
  padding: 10px;
}
.fact-number {
  font-size: 26px;
}
/* sponsor section */
.sponsor-heading {
  font-size: 40px;
  margin: 15px 0px;
  text-align: center;
}
.sponsor-description {
  text-align: center;
  margin: 30px 0px;
}
.sponsor-container {
  display: flex;
  justify-content: space-around;
}
.sponsor-container img {
  filter: grayscale(100%);
}
/* Responsive Media Queries */
@media screen and (max-width: 576px) {
  /* nav-bar */
  * {
    margin: 0 auto;
  }
  /* common styles */
  section {
    margin-top: 85px;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar h3 {
    font-size: 4rem;
    margin: 20px auto;
  }
  .banner-image img {
    margin: 30px 0px;
    border-radius: 2%;
  }
  .banner-title {
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  /* team section */
  .team {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
  }
  .team-img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    margin-bottom: 50px;
  }
  /* facts responsive */
  .fact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
    gap: 20px;
  }
  .main-facts p {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .some-facts {
    font-size: 40px;
    margin: 0 auto;
    margin-left: 20px;
  }
  /* sponsor responsive */
  .sponsor-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 50px;
  }
}
